.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px;
  height: 91px;
  border-radius: 0 0 25px 25px;
}

.logo {
  width: 195px;
  height: 61px;
}

.menuButton {
  background-color: transparent;
  border: none;
  padding: 0;
}

.userName {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.userMail {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.17px;
  color: rgba(0, 0, 0, 0.6);
}